<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}
    {% endblock head_block %}
</head>
<body>
    <nav>
        <a href={% url 'inicio' %}>Inicio</a>
        <a href={% url 'Casas' %}>Casas</a>
        {% comment %} <a href={% url 'Vecinos' %}>Vecinos</a> {% endcomment %}
        <a href={% url 'Mascotas' %}>Mascotas</a>
    </nav>
    {% block body_block %}
    {% endblock body_block %}
</body>
</html>